<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <title>@ViewBag.Title - Electronics Corp.</title>
    ﻿
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- For all browsers -->
    <link rel='stylesheet' href='~/Content/0c560666356501ac2744809d2b92f7d1.css'>

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src='~/Scripts/ad25a3dad3077fd2712774e23ccca92d.js'></script>
    <link rel='stylesheet' href='~/Content/00a51f29da662a199ab9e8444aa420df.css'>
    <![endif]-->
    <!-- JavaScript -->
    <script src='~/Scripts/dba5637f929bc4e140e11d4d93eda634.js'></script>

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png"> -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon-72x72-precomposed.png"> -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon-114x114-precomposed.png"> -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/h/apple-touch-icon-144x144-precomposed.png"> -->
    <!--iOS -->
    <!-- <meta name="apple-mobile-web-app-title" content="Rock Hammer"> -->
    <!-- <meta name="viewport" content="initial-scale=1.0"> (Use if apple-mobile-web-app-capable below is set to yes) -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
    <!-- Startup images -->
    <!-- <link rel="apple-touch-startup-image" href="img/startup/startup-320x460.png" media="screen and (max-device-width:320px)"> -->
    <!-- <link rel="apple-touch-startup-image" href="img/startup/startup-640x920.png" media="(max-device-width:480px) and (-webkit-min-device-pixel-ratio:2)"> -->
    <!-- <link rel="apple-touch-startup-image" href="img/startup/startup-640x1096.png" media="(max-device-width:548px) and (-webkit-min-device-pixel-ratio:2)"> -->
    <!-- <link rel="apple-touch-startup-image" sizes="1024x748" href="img/startup/startup-1024x748.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape)"> -->
    <!-- <link rel="apple-touch-startup-image" sizes="768x1004" href="img/startup/startup-768x1004.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)"> -->
    <!-- Windows 8 / RT -->
    <meta name="msapplication-TileImage" content="img/h/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#000">
</head>

<body>

    ﻿<nav class="topmenu fixed">
        <a href="index.html" class="logo-icon"><img src="http://placehold.it/40x40&text=S" /></a>
        <h1 class="logo">
            <a href="index.html"><img src="http://placehold.it/220x80&text=Electronics corp."></a>
        </h1>

        <ul>
            <li class=""><a href="#">Hitta din butik</a></li>
            <li><a href="#">Kundservice</a></li>
            <li class=""><a href="mypages.html"><span class="hide-for-bp2">Inloggad som: </span>Gun Klasson</a></li>
        </ul>
    </nav>

    <header class="header fixed">




        <nav class="main">
            <a class="btn menu-toggle"><i class="icon-list"></i> <span class="hide-for-bp2">Meny</span></a>
            <ul class="tm">
                <li class="tmi articles">
                    Sortiment
                    <ul id="main_nav" class="main_nav">
                        <li><a href="category.html">Huvudkategori 1</a></li>
                        <li><a href="category.html">Huvudkategori 2</a></li>
                        <li><a href="category.html">Huvudkategori 3</a></li>
                        <li><a href="category.html">Huvudkategori 4</a></li>
                        <li><a href="category.html">Huvudkategori 5</a></li>
                        <li><a href="category.html">Huvudkategori 6</a></li>
                        <li><a href="category.html">Huvudkategori 7</a></li>
                        <li><a href="category.html">Huvudkategori 8</a></li>
                        <li><a href="category.html">Huvudkategori 9</a></li>
                        <li><a href="category.html">Huvudkategori 10</a></li>
                        <li><a href="category.html">Huvudkategori 11</a></li>
                        <li class="menu-footer"><a href="category.html">Visa hela sortimentet</a></li>
                        <li><a href="category.html">Visa A-Ö</a></li>

                    </ul>
                    <div id="flyouts">

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 1</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 1 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 1 - 2</a>
                                <p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>


                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 1 - 3</a>
                                <p>Såsom: <a href="category.html">Subkategori 1.3.1</a> , <a href="category.html">Subkategori 1.3.2</a> ,<a href="category.html">Subkategori 1.3.3</a></p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 1 - 4</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 2</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 2 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 2 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 2 - 4</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 3</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 3 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 3 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 3 - 4</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 3 - 5</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 3 - 6</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 4</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 4 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 4 - 2</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 4 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 4 - 4</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 4 - 5</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 4 - 6</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 5</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 5 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 5 - 2</a>
                                <p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>


                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 5 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 5 - 4</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 6</a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 6 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 6 - 2</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 6 - 3</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 7</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 7 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 7 - 2</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 7 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 7 - 4</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 7 - 5</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 8</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 8 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 8 - 2</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 8 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 8 - 4</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 8 - 5</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 8 - 6</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 9</a></li>




                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 9 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 9 - 2</a>
                                <p>Lorem ipsum dolor sit, consectetur adipiscing elit.</p>


                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 9 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 9 - 4</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 10</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 10 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 10 - 2</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 10 - 3</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="sub-menu">

                            <li class="sub-menu-item-header"><a href="category.html">Huvudkategori 11</a></li>

                            <li class="sub-menu-item-banner"><a href="category.html"><img src="http://placehold.it/300x310&text=Annonsyta"></a></li>



                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 11 - 1</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 11 - 2</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 11 - 3</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 11 - 4</a>
                                <p>Lorem ipsum dolor sit, adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>

                                </ul>
                            </li>
                            <li class="sub-menu-item-link">
                                <a href="category.html">Kategori 11 - 5</a>
                                <p>Lorem ipsum sit amet, consectetur adipiscing elit.</p>

                                <ul class="sub-menu-items">
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                    <li><a href="category.html">Kategori 3</a></li>
                                </ul>
                            </li>

                        </ul>



                    </div>
                    <!-- /#flyouts -->
                </li>
                <li class="tmi">Lösningar</li>
                <li class="tmi">Dokumenthantering</li>
                <li class="tmi">Bläck & Toner</li>
                <li class="tmi">Fyndhörnan</li>

            </ul>




        </nav>

        <div class="search">


            <input type="text" value="Hej, vad letar du efter?" class="input-large search-query" id="searchbox" />
            <a class="btn" href="search.html"><i class="icon-search"></i></a>
        </div>
        <div class="autocomplete">
            <ul>
                <li><i class="icon-search"></i> <strong>Bl</strong>äck</li>
                <li><i class="icon-search"></i> <strong>Bl</strong>äckpenna</li>
                <li><i class="icon-search"></i> <strong>Bl</strong>äckstråleskrivare</li>
            </ul>
            <ul>
                <li class='current'><a class='current' href="product.html"><img src="http://placehold.it/30x30&text=Artikel"> <strong>Bl</strong>äckpenna svart</a></li>
                <li class='current'><a class='current' href="product.html"><img src="http://placehold.it/30x30&text=Artikel"> <strong>Bl</strong>äckpenna blå</a></li>
                <li class='current'><a class='current' href="product.html"><img src="http://placehold.it/30x30&text=Artikel"> <strong>Bl</strong>äckpenna röd</a></li>
                <li class='current'><a class='current' href="product.html"><img src="http://placehold.it/30x30&text=Artikel"> <strong>Bl</strong>äckstråleskrivare HP-4530</a></li>
            </ul>
            <ul>
                <li><a href="category.html">I kategorin: Pennor (219)</a></li>
                <li><a href="category.html">I kategorin: Skrivare (22)</a></li>
                <li><a href="category.html">I kategorin: Toner (51)</a></li>
            </ul>
            <ul>
                <li><a href="category.html">Passar till: Epson 356</a></li>
                <li><a href="category.html">Passar till: Epson 2</a></li>
                <li><a href="category.html">Passar till: HP 2806</a></li>
            </ul>

            <ul>
                <li><a href="#" class="btn">Visa alla träffar</a></li>
            </ul>

        </div>

        <div class="cart-account">
            <a class="btn" href="checkout.html"><i class="icon-shopping-cart"></i><span>2 133,00 kr (5)</span></a>
            <a class="btn checkout" href="checkout.html">Till kassan</a>

        </div>

    </header>

    <div class="product-page container content-fixed">
        <ul class="breadcrumb">
            <li><a href="index.html">Start</a></li>
            <li><a href="category.html">Toppkategori</a></li>
            <li><a href="category.html">Kategori 4</a></li>
            <li class='current'><a class='current' href="product.html">Nätverksuttag 2x Cat6</a></li>
        </ul>

        @RenderBody()

        

        <div class="product-tabs">
            ﻿<ul class="nav nav-tabs">
                <li><a href="#tab1" data-toggle="tab">Produktbeskrivning</a></li>
                <li><a href="#tab2" data-toggle="tab">Dokument</a></li>
                <li class="active"><a href="#tab3" data-toggle="tab">Tillbehör</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Passar till</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane " id="tab1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu orci vitae ante malesuada congue eget ac ipsum. Donec porta turpis bibendum accumsan sollicitudin. In pellentesque, turpis at sodales faucibus, magna eros feugiat lacus, at hendrerit sapien velit in nibh.
                    </p>
                    <h4>Egenskaper</h4>
                    <ul>
                        <li>Consectetur</li>
                        <li>Adipiscing</li>
                        <li>Vivamus</li>
                        <li>Malesuada</li>
                    </ul>
                </div>
                <div class="tab-pane" id="tab2">
                    <ul>
                        <li><a href="#">Datablad</a></li>
                        <li><a href="#">Produktblad</a></li>
                        <li><a href="#">Manual</a></li>
                        <li><a href="#">Monteringsanvisning</a></li>
                    </ul>
                </div>
                <div class="tab-pane active" id="tab3">
                    <ul class="product-list compact">
                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="tab-pane" id="tab4">
                    <ul class="product-list compact">
                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                        <li class="current product-item">
                            <div class="product-item-image">
                                <a href="product.html">
                                    <img src="http://placehold.it/480x480&text=Artikel">
                                </a>
                            </div>
                            <div class="product-item-description">
                                <h2><a class='current' href="product.html">Artikelnamn</a></h2>
                                <p>199 kr</p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>


    </div>



    ﻿<footer role="contentinfo">

        <ul>
            <li class="block">
                <h2>Kontakta oss</h2>
                <ul>
                    <li><a href="#">Kontakta kundtjänst</a></li>
                    <li><a href="#">Hitta din närmsta butik</a></li>

                </ul>
            </li>
            <li class="block">
                <h2>Kundservice</h2>
                <ul>
                    <li><a href="#">Att handla hos oss</a></li>
                    <li><a href="#">Betalning</a></li>
                    <li><a href="#">Leverans</a></li>
                    <li><a href="#">Service & Returer</a></li>
                    <li><a href="#">Vanliga frågor & svar</a></li>
                </ul>
            </li>
            <li class="block">
                <h2>Om oss</h2>
                <ul>
                    <li><a href="#">Om oss</a></li>
                    <li><a href="#">Aktuella kataloger och utskick</a></li>
                    <li><a href="#">Våra butiker</a></li>
                    <li><a href="#">Lediga tjänster</a></li>
                    <li><a href="#">Nyhetsbrev</a></li>
                </ul>
            </li>

            <li class="block">
                <h2>Utmärkelser</h2>
                <ul>
                    <li><img src="http://placehold.it/160x100&text=Utmärkelser"></li>
                </ul>
            </li>

        </ul>

    </footer>

    <!-- Load libraries -->
    <script>
head.js(
// Place scripts to be loaded here, in the order the need to be executed
// Typically libraries are needed first, such as jQuery (as the plugins
// depend on jQuery to execute). The below configuration is what Rock
// Hammer uses, but customise this for your own needs.
// Notice the use of path here. This is because we need the file names,
// not the script tags being generated. Ensure all filenames you wish
// head.js to load are surrounded with quotes. Also, this is a list, so
// ensure that all but the last item are followed by a comma.

// Libraries

"~/Scripts/js/vendor/modernizr-2.6.2-min.js",
"~/Scripts/js/vendor/jquery-1.8.3-min.js",

// Plugins
"~/Scripts/js/vendor/jquery/jquery.scrollTo.min.js",

// Load bootstrap-transition first so that nice glides/fades
// etc for the other bootstrap plugins work
//"js/vendor/bootstrap/bootstrap-transition.js",
//"js/vendor/bootstrap/bootstrap-carousel.js",
//"js/vendor/bootstrap/bootstrap-tab.js",
//"js/vendor/bootstrap/button.js",
"~/Scripts/js/vendor/bootstrap.min.js",

//"js/vendor/bootstrap/bootstrap-tooltip.js",

// Popover has a dependency on tooltip, so make sure and include
// bootstrap-tooltip regardless in order for popovers to work
//"js/vendor/bootstrap/bootstrap-popover.js",
//"js/vendor/bootstrap/bootstrap-modal.js",
//"js/vendor/bootstrap/bootstrap-collapse.js",

// Responsive data tables
//"js/rwd-table.js",
"~/Scripts/js/plugins.js",
// Functionality only used by Rock Hammer
"~/Scripts/js/navigation-manager.js",

// Remove any navigation patterns below that arent used
//"js/nav-patterns/nav-toggle.js",
//"js/nav-patterns/left-nav-flyout.js",
//"js/nav-patterns/responsive-nav.min.js",
//"js/nav-patterns/responsive-breadcrumb.js",
"~/Scripts/js/scripts.js"
);


// Google Analytics code
// Set your account ID appropriately by replacing UA-XXXXX-X
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    @RenderSection("Scripts", false)


</body>
</html>